:root {
  --primary-color: #836fff;
  --secondary-color: #5b4eb1;
  --title-color: #322153;
  --text-color: #6c6c80;
  --suport-text-color: #a0a0b2;
  --logo-green: #34cb79;
  --opaque-primary-color: #836fff20;
  --red: #ea4335;
  --white: #fff;

  --button-height: 65px;
  --input-height: 65px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body,
input,
button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: Ubuntu;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
}

a{
  color: unset;
}